* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-size: 16px;
    font-family: Arial Helvetica sans-serif;
    color:#fff;
    overflow-x: hidden;
}

.showcase {
    background:url('images/bg.jpeg');
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    min-width: 100vw;
    min-height: 80vh;
    position: relative;
    opacity: .9;
}

.overlay {
    background: #000;
    position: absolute;
    min-width: 100%;
    min-height: 100%;
    top:0;
    left: 0;
    opacity: .7;
    z-index: -1;
}

.container {
    margin: 0 auto;
}

.logo {
    color: #fff;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 5px;
    position:absolute;
    top: 2%;
    left: 38%;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    padding-top: 40px;
}

nav ul li {
    padding: 25px 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

.navigation li a:hover {
    color: #F9D032
}

.about {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 3%;
}

.about-info {
    text-align: center;
    color: #fff;
    font-size: 1rem;
    font-weight: 100;
    letter-spacing: 1px;
    margin-top: 60px;
}

.about-info span{
    font-size: 2.2rem;
    font-weight: 700;
    text-transform: capitalize;
    text-align: center;
    margin: 10px auto;
    line-height:1.7em;
}

.about-more {
    text-decoration: none;
    color: #000;
    background-color: #F9D032;
    font-size: 14px;
    padding: 20px 30px;
    border-radius: 5px;
    margin-top: 20px;
}

.content p{
    color: #fff;
    background: #0C2140;
    line-height: 2em;
    font-size: 20px;
    padding: 120px 15px;
    text-align: justify;
    text-justify: inter-word;
}

.image-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* justify-content: center;
    align-items: center; */
}
.images{
    width: 100%;
    margin: 1% 0;
}

footer {
    text-align: center;
    background: #2f2f2f;
    color: #fff;
    padding: 25px 0;
}

/* Tablets and mobile auto-rotate */
@media (min-width: 550px) {
    .logo {
        top: 15px;
        left:20px;
    }
    nav ul {
        justify-content: flex-end;
        margin: 0 20px;
        padding-top: 0;
    }
    .showcase {
        min-height: 120vh;
    }
    .about {
        position: absolute;
        top: 3%;
        left: 0;
    }
    .about-info span{
        font-size: 3.5rem;
    }
}

/* Desktops */
@media (min-width: 1500px) {
    .showcase {
        min-height: 80vh;
    }
    .about {
        top: 10%;
        left: 12%;
    }
    .about-more {
        left: 45%;
    }
    .images {
        width: 45%;
        margin-left: 2.5%;
        margin-right: 2.5%;
    }
    /* .content {
        display: grid;
        grid-template-columns: 40% 60%;
        grid-row: auto;
    } */
    footer {
        padding: 30px 0;
        margin: 0;
    }
}