* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background:url('images/bg.jpeg');
    background-size: cover;
    background-position: center;
    min-width: 100%;
    min-height: 100%;
    position: relative;
}

body {
    font-size: 16px;
    font-family: Arial Helvetica sans-serif;
}

.container {
    margin: 0 auto;
}

.logo {
    color: #fff;
    position: absolute;
    top: 15px;
    left:20px;
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 5px;
}

.navigation {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    margin:0 20px;
}

.navigation li {
    padding: 25px 10px;
}

.navigation li a {
    color: #fff;
    text-decoration: none;
}

.navigation li a:hover {
    color: #F9D032
}

.about-info {
    text-align: center;
    color: #fff;
    font-size: 20px;
    font-weight: 100;
    letter-spacing: 1px;
    margin:10% auto 5% auto;
}

.about-info span{
    font-size: 60px;
    font-weight: 700;
    text-transform: capitalize;
}

.about a {
    text-decoration: none;
    color: #000;
    background-color: #F9D032;
    font-size: 14px;
    padding: 20px 30px;
    border-radius: 5px;
    position: absolute;
    left: 45%;
}

@media (max-width: 560px) {
    .navigation {
        justify-content: center;
    }

    .about a {
        left: 35%;
    }
}
