* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    overflow-x: hidden;
}

body {
    font-size: 16px;
    font-family: Arial Helvetica sans-serif;
    color:#fff;
}

.showcase {
    background:url('images/bg.jpeg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    min-width: 100vw;
    min-height: 120vh;
    position: relative;
    opacity: .9;
}

.overlay {
    background: #000;
    position: absolute;
    min-width: 100%;
    min-height: 100%;
    top:0;
    left: 0;
    opacity: .7;
    z-index: -1;
}

.container {
    margin: 0 auto;
}

.logo {
    color: #fff;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 5px;
    position:absolute;
    top: 2%;
    left: 38%;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    padding-top: 40px;
}

nav ul li {
    padding: 25px 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

.navigation li a:hover {
    color: #F9D032
}

.about-info {
    text-align: center;
    color: #fff;
    font-size: 1rem;
    font-weight: 100;
    letter-spacing: 1px;
    margin-top: 60px;
}

.about-info span{
    font-size: 2.5rem;
    font-weight: 700;
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 10px;
}

.about-more {
    text-decoration: none;
    color: #000;
    background-color: #F9D032;
    font-size: 14px;
    padding: 20px 30px;
    border-radius: 5px;
    position: absolute;
    left: 35%;
    margin-top: 20px;
}

.content p{
    color: #fff;
    background: #0C2140;
    line-height: 2em;
    letter-spacing: 2px;
    font-size: 20px;
    padding: 120px 30px;
    text-align: justify;
}

.content img {
    width: 100%;
    min-height: 50vh;
}

footer {
    text-align: center;
    background: #2f2f2f;
    color: #fff;
    padding: 20px 0;
    margin-top: -10px;
}

@media (min-width: 480px) {
    .logo {
        top: 15px;
        left:20px;
    }
    nav ul {
        justify-content: flex-end;
        margin: 0 20px;
        padding-top: 0;
    }
    .content {
        display: grid;
        grid-template-columns: repeat(2,50%);
        grid-row: auto;
    }
    .about {
        position: absolute;
        top: 25%;
        left: 12%;
    }
    .about-info span{
        font-size: 3.5rem;
    }
}

@media (min-width: 1000px) {
    .about-more {
        left: 45%;
    }
}
